@import '../additionals/fonts';
@import '../additionals/mixins';
@import '../additionals/variable';
@import '../additionals/header';
@import '../additionals/header-about-page';
@import '../additionals/main-body';
@import '../additionals/footer';

main {
    .block-inform {
        display: flex;
        gap: 30px;
        padding: 0 13%;
        .main-inform {
            > img {
                object-fit: cover;
                max-width: 930px;
                max-height: 484px;
                width: 100%;
                height: 100%;
                min-width: 430px;
                min-height: 184px;
                margin-bottom: 50px;
            }
            h2,p {
                font-family: 'Nunito';
                font-style: normal;
                
            }
            h2 {
                font-weight: 700;
                font-size: 45px;
                line-height: 61px;
                color: #212529;
                margin-bottom: 30px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #676767;
                margin-bottom: 30px;
            }
            .project-summery {
                margin-bottom: 100px;
            }
            .project-challenges {
                .images-project-challenges {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    img {
                        object-fit: cover;
                        max-width: 450px;
                        height: 308px;
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
                .option-of-challenges {
                    padding-bottom: 30px;
                    p {
                        position: relative;
                        left: 35px;
                        margin-bottom: 15px;
                        margin-right: 35px;
                        &::after {
                            content: "";
                            position: absolute;
                            background: url(../assets/home-page-02/project-related-arrow-green.svg) no-repeat center;
                            width: 20px;
                            height: 16px;
                            top: 2px;
                            left: -35px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    border-bottom: 1px solid #c5c5c5;
                }
            }
            .share-chapters {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                .share-links {
                    display: flex;
                    p {
                        align-self: center;
                        height: fit-content;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        text-decoration-line: underline;
                        text-transform: uppercase;
                        margin-right: 30px;
                        margin-bottom: 0;
                    }
                    .links {
                        display: flex;
                        align-items: center;
                        height: 40px;
                        a {
                            position: relative;
                            text-decoration: none;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-right: 20px;
                            &:after {
                                content: '';
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                top: 5px;
                                left: 5px;
                            }
                        }
                        .fb {
                            background-color: #365390;
                            &:after {
                                background: url(../assets/home-page-02/facebook-hm-mobile.svg) no-repeat center / cover;
                            }
                        }
                        .tw {
                            background-color: #009FEE;
                            &:after {
                                background: url(../assets/home-page-02/twitter-hm-mobile.svg) no-repeat center / cover;
                            }
                        }
                        .gplus {
                            background-color: #367CFF;
                            &:after {
                                background: url(../assets/home-page-02/Google-hm-mobile.svg) no-repeat center / cover;
                            }
                        }
                        .pinterest {
                            background-color: #EF1408;
                            &:after {
                                background: url(../assets/home-page-02/pinterest.png) no-repeat center / cover;
                            }
                        }
                        .in {
                            background-color: #0079B2;
                            &:after {
                                background: url(../assets/home-page-02/linkedin-hm-mobile.svg) no-repeat center / cover;
                            }
                        }
                    }
                }
                .chapters {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;
                    gap: 10px;
                    span {
                        text-align: center;
                        display: block;
                        width: 123px;
                        height: 30px;
                        background: #FFF8F1;
                        border: 1px solid #FBEEE7;
                        border-radius: 5px;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 29px;
                        color: #676767;
                    }
                }
            }
        }
        .aside-inform {
            .project-information,
            .brochure,
            .more-about-us {
                padding: 40px 30px;
                width: 450px;
                height: max-content;
                background: #FFFFFF;
                box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
                border-radius: 5px;
                margin-bottom: 60px;
                h3,h4,p {
                    font-family: 'Nunito';
                    font-style: normal;
                    color: #212529;
                }
                h3 {
                    font-weight: 700;
                    font-size: 33px;
                    line-height: 45px;
                }
                h4 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 30px;
                }
                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #676767;
                }
            }
            .project-information {
                .desc-project-inf {
                    border-bottom: none;
                }
                h3 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 20px;
                }
                div {
                    margin-bottom: 25px;
                    border-bottom: 1px solid #0C4B35;
                    input {
                        width: 100%;
                        border: 0;
                        outline: none;
                        padding-bottom: 5px;
                        font-size: 16px;
                        &::placeholder {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 25px;
                            color: #676767;
                        }
                    }
                }
            }
            .brochure {
                .brochure-desc {
                    h3 {
                        margin-bottom: 20px;
                    }
                    p {
                        margin-bottom: 30px;
                    }
                }
                .download-info-company-newest {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-bottom: 50px;
                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 30px;
                        color: #0C4B35;
                    }
                    a {
                        display: block;
                        position: relative;
                        width: 390px;
                        height: 50px;
                        background: #D9F1E0;
                        border-radius: 5px;
                        text-decoration: none;
                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            width: 30px;
                            height: 30px;
                        }
                        &::after {
                            left: 15px;
                            background: url(../assets/home-page-02/pdf.svg) no-repeat center;
                        }
                        &::before {
                            right: 15px;
                            background: url(../assets/home-page-02/down-arrow.svg) no-repeat center;
                        }   
                        i {
                            position: relative;
                            top: 10px;
                            left: 60px;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 30px;
                            color: #212529;
                        }
                        &:hover {
                            background: #00730C;
                            i {
                                color: #FFFFFF;
                            }
                            &::after {
                                background: url(../assets/home-page-02/pdf-active.svg) no-repeat center;
                            }
                            &::before {
                                background: url(../assets/home-page-02/down-arrow-active.svg) no-repeat center;
                            } 
                        }
                    }
                }
            }
            .more-about-us {
                box-shadow: none;
                background: #F6F6F6;
                h3 {
                    margin-bottom: 30px;
                }
                p {
                    margin-bottom: 50px;
                }
                .number {
                    display: flex;
                    align-items: center;
                    .container-phone {
                        position: relative;
                        cursor: pointer;
                        width: 86px;
                        height: 86px;
                        border-radius: 50%;
                        background: #D1E2D3;
                        transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
                        &:hover {
                            transform: rotate(-15deg) scale(1.2);
                            box-shadow: 1px 1px 20px rgba(23, 124, 31, 0.2);
                        }
                        .phone {
                            position: relative;
                            top: 9px;
                            left: 9px;
                            width: 68px;
                            height: 68px;
                            background: #A7CCAB;
                            border-radius: 50%;
                            transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
                            span {
                                position: relative;
                                top: 9px;
                                left: 9px;
                                width: 50px;
                                height: 50px;
                                display: block;
                                background: #00730C;
                                border-radius: 50%;
                                transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
                                &:after {
                                    content: "";
                                    position: absolute;
                                    background: url(../assets/home-page-02/phone-projects.svg) no-repeat center / cover;
                                    width: 30px;
                                    height: 30px;
                                    top: 10px;
                                    left: 10px;
                                    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
                                }
                            }
                        }
                    }
                    > p {
                        display: block;
                        position: relative;
                        height: max-content;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 33px;
                        color: #00730C;
                        border-bottom: 1px solid #00730C;
                        margin: 0 0 30px 30px;
                        &::after {
                            content: "Get Free Consultancy";
                            position: absolute;
                            top: 32px;
                            left: 0px;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 30px;
                            color: #00730C;
                        }
                    } 
                }
            }
        }
    }
    .slider-title {
        > h3 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 61px;
            color: #000000;
            margin: 100px 13% 0 13%;
        }
        .slider-related-projects {
            overflow: hidden;
            margin: 0 13% 0 13%;
            padding: 30px 0 100px 0;
            .slider-wrapper-related-projects {
                display: flex;
                .swiper-slide {
                    .container-shadow {
                        width: 330px;
                        height: 406px;
                        background: linear-gradient(175deg, #FFFFFF 0%, #EAEAEA 92.31%);
                        box-shadow: 4.16604px 7.6181px 25.6px rgba(51, 51, 51, 0.1035), inset -0.935046px -2.6876px 1.7284px #E5E5E5, inset 0.935046px 1.6876px 1.7284px #FFFFFF;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
                        &:hover {
                            transform: scale(1.03);
                            background: rgba(0, 0, 0, 0.27);
                            box-shadow: inset 23.9px -23.9px 23.9px rgba(149, 149, 149, 0.12);
                            .slide-project {
                                position: relative;
                                .img {
                                    filter: blur(7px);
                                    height: 100%;
                                }
                                .inner-block {
                                    height: 100%;
                                    bottom: -40px;
                                    position: absolute;
                                    h3, p {
                                        color: white;
                                    }
                                    .btn-read {
                                        display: block;
                                        position: relative;
                                        text-decoration: none;
                                        left: 2%;
                                        width: 92%;
                                        padding: 10px 30px;
                                        border-bottom: 2px solid white;
                                        top: 120px;
                                        &::after,
                                        &::before {
                                            content: "";
                                            position: absolute;
                                        }
                                        &::after {
                                            width: 30px;
                                            height: 30px;
                                            right: 0;
                                            bottom: 10px;
                                            border-radius: 50%;
                                            border: 3px solid white;
                                            box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
                                        }
                                        &::before {
                                            background: url(../assets/home-page-02/project-active-arrow.svg) no-repeat center / cover;
                                            right: 8px;
                                            bottom: 12px;
                                            width: 15px;
                                            height: 26px;
                                        }
                                    }
                                }
                            }
                        }
                        .slide-project {
                            height: 100%;
                            overflow: hidden;
                            .img {
                                height: 260px;                    
                                background-color: #c4c4c4;
                                border-radius: 10px;
                                transition: height .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .inner-block {
                                padding: 20px 15px 0 25px;
                                bottom: 0;
                                transition: bottom .3s ease;
                                overflow: hidden;
                                h3, p {
                                    font-family: 'Nunito';
                                    font-style: normal;
                                }
                                h3 {
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 33px;
                                    text-transform: capitalize;
                                    margin-bottom: 10px;
                                    color: #00730C;
                                }
                                p {
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 25px;
                                    color: #676767;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                gap: 30px;
                position: unset;
            }
            .swiper-pagination-bullet {
                width: 50px;
                height: 7px;
                opacity: unset;
                border-radius: unset;
    
            }
        }
        
    }
}

@media(max-width: 1920px) {
    main {
        .block-inform {
            flex-direction: column;
            gap: 60px;
            .main-inform {
                > img {
                    max-width: unset;
                }
                .project-challenges {
                    .images-project-challenges {
                        justify-content: space-evenly;

                    }
                }
            } 
            .aside-inform {
                display: flex;
                justify-content: center;
                gap: 30px 30px;
                flex-wrap: wrap;
            }
        }
    }
}
@media(max-width: 1273px) {
    main {
        .block-inform {
            .aside-inform {
                .brochure {
                    .download-info-company-newest {
                        a {
                            max-width: 390px;
                            width: 100%;
                        }
                    }
                }
                .project-information,
                .brochure,
                .more-about-us {
                    max-width: 600px;
                    width: 100%;
                }
            }
        }
    }
    
}
@media(max-width: 1140px) {
    main {
        .block-inform {
            .main-inform {
                .share-chapters {
                    flex-direction: column;
                    align-items: center;
                    gap: 30px 30px;
                    .chapters {
                        flex-wrap: wrap;
                        margin-right: 0;
                    }
                    .share-links {
                        .links {
                            gap: 30px;
                        }
                    }
                }
                .project-summery {
                    margin-bottom: 50px;
                }
            }
        }
    }   
}
@media(max-width: 1060px) {
    main {
        .slider-title {
            .slider-related-projects {
                .swiper-pagination {
                    position: relative;
                    display: inline-block;
                    height: 40px;
                    bottom: 20px;
                    .swiper-pagination-bullet {
                        display: inline-block;
                        top: 10px;
                        width: 20px;
                        height: 20px;
                        background-color: #00730C;
                        border-radius: 50%;
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}
@media(max-width: 960px) {
    main {
        .block-inform {
            .main-inform {
                > img {
                    min-width: unset;
                }
            }
        }
    }
}
@media(max-width: 700px) {
    main {
        .block-inform {
            .main-inform {
                .share-chapters {
                    .share-links {
                        .links {
                            gap: 15px;
                            flex-wrap: wrap;
                            a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }    
}
@media(max-width: 500px) {
    main {
        padding-bottom: 50px;
        .block-inform {
            padding-left: 0;
            padding-right: 0;
            .main-inform {
                margin: 0 15px;
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                }
                
                > img {
                    max-width: 470px;
                    max-height: 250px;
                    min-height: 180px;
                    height: 100%;
                }
                .project-challenges {
                    .images-project-challenges {
                        img {
                            width: 162px;
                            height: 110px;
                        }
                    }
                }
                .share-chapters {
                    flex-direction: column-reverse;
                    .chapters {
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            padding: 5px 15px;
                            height: max-content;
                            width: max-content;
                        }
                    }
                    .share-links  {
                        p {
                            text-transform: unset;
                            text-decoration: none;
                            font-weight: 700;
                            letter-spacing: 1px;
                        }
                        .links {
                            gap: 20px;
                            a {
                                width: 30px;
                                height: 30px;
                                &::after {
                                    width: 20px;
                                    height: 20px;

                                }
                            }
                        }
                    }
                }
            }
            .aside-inform {
                margin: 0 15px;
                gap: 50px;
                
                .project-information,
                .brochure,
                .more-about-us {
                    padding: 30px 20px;
                    p {
                        font-size: 14px;
                        line-height: 22px;
                    }
                    h3 {
                        font-size: 20px;
                        line-height: 27px;
                    }
                    h4 {
                        font-size: 14px;
                        line-height: 19px;
                    }
                    margin-bottom: 0;
                }
                .more-about-us {
                    background: #FFF8F1;
                    .number {
                        > p {
                            color: #212529 !important;
                            border-bottom: 1px solid #212529;
                            &::after {
                                font-size: 14px;
                                line-height: 22px;
                                color: #212529;
                                top: 36px;
                                left: 24px;
                            }
                        }

                    }
                }
                .brochure {
                    .download-info-company-newest {
                        p {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                            color: #0C4B35;
                        }
                        a {
                            background: #FFF8F1;
                        }
                    }
                }
            }
        } 
        .slider-title {
            > h3 {
                margin-top: 50px;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                text-align: center;
            }
            .slider-related-projects {
                padding-bottom: 50px;
                margin: 0 15px 0 15px;
                .slider-wrapper-related-projects {
                    .swiper-slide {
                        .row {
                            .container-shadow {
                                width: 202px;
                                height: 248px;
                                &:hover {
                                    .slide-project {
                                        .inner-block {
                                            bottom: -10px;
                                            h3 {
                                                margin-bottom: 15px;
                                            }
                                            p {
                                                height: 135px;
                                            }
                                            .btn-read {
                                                &:after {
                                                    width: 20px;
                                                    height: 20px;
                                                }
                                                &:before {
                                                    right: 4px;
                                                    bottom: 7px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .slide-project {
                                    .inner-block {
                                        bottom: -80px;
                                        h3 {
                                            font-size: 18px;
                                            line-height: 25px;
                                        }
                                        p {
                                            font-size: 10px;
                                            line-height: 14px;
                                        }
                                    }
                                    .img {
                                        height: 130px;
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper-pagination {
                    display: inline-block;
                    height: 30px;
                    bottom: -20px;
                    margin-top: 0;
                    .swiper-pagination-bullet {
                        display: inline-block;
                        top: 10px;
                        width: 10px;
                        height: 10px;
                        background-color: #00730C;
                        transform: scale(1);
                        margin-right: 25px;
                    }
                    .swiper-pagination-bullet-active {
                        box-shadow: 0px 0px 3px 5px rgb(0, 115, 12, 0.4);
                    }
                }
            }
        }
    }
}