header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    .inform {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 53px;
        background: #0C4B35;
        padding: 0 251px;
        z-index: 60;
        .container-inform {
            display: flex;
            align-items: center;
            > div {
                display: flex;
                margin-right: 55px;
                position: relative;
                cursor: pointer;
                .element-header-text {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
                .img-header-contacts-email,
                .img-header-contacts-number,
                .img-header-contacts-location {
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
                .img-header-contacts-email {
                    background-image: url(assets/home-page-02/email.png);
                }
                .img-header-contacts-number {
                    background-image: url(assets/home-page-02/phone-call.png);
                }
                .img-header-contacts-location {
                    background-image: url(assets/home-page-02/location.png);
                }
            }
        }
        .change-lang {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            .change-lang-input {
                display: none;
            }
            .change-lang-btn {
                position: relative;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                border: 0;
                background-color: unset;
                color: #FFFFFF;
                cursor: pointer;
                &::after {
                    content: '';
                    cursor: pointer;
                    position: absolute;
                    background-image: url(assets/home-page-02/arrow-white.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 7px;
                    width: 12px;
                    top: 12px;
                    right: -17px;
                    transition: all 0.3s ease-out;       
                }
            }
            .change-lang-btn.active {
                &::after {
                    transform: rotate(90deg);
                }
            }
            .change-lang-list.active {
                display: flex;
                align-items: center;
            }
            .change-lang-list {
                position: absolute;
                display: none;
                left: -300px;
                z-index: 25;
                .change-lang-item {
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: white;
                    padding: 0 15px;
                    &:last-child {
                        border-right: 2px solid rgb(255, 255, 255);
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .inform.activeMenu {
        display: flex!important;
    }
    .container-logo-menu.activeMenu {
        display: flex!important;
        top: 53px;
    }
    .container-logo-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 256px;
        width: 100%;
        height: 85px;
        z-index: 60;
        background: #FFFFFF;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
        .logo {
            img {
                width: 100%;
                height: 100%;
            }
        }
        .container-menu-btn {
            display: flex;
            align-items: center;
            .menu {
                margin-right: 100px;
                transition: all 0.5s cubic-bezier(0.16, 0.08, 0, 0.69);
                .contacts-links-mobile-menu {
                    display: none;
                }
                ul {
                    display: flex;
                    > li:hover > a {
                        color: #00730C;
                    }
                    .menu-contacts-func,
                    a {
                        @include fontForFunctionsMenu();
                        text-decoration: none;
                        cursor: pointer;
                    }
                    &:last-child {
                        margin-right: 100px;
                    }
                    .submenu.activeMenuItem {
                        p {
                            transform: rotate(180deg);
                            opacity: 1!important;
                        }
                        > a {
                            color: white!important;
                        }
                        [class*='submenu-'] {
                            margin: 0 0 10px 35px;
                            li {
                                border-bottom: none;
                            }
                            a {
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 22px;
                            }
                            position: static;
                            display: block;
                        }
                        .submenu-2 {
                            left: 0;
                        }
                    }
                    .hoverMenu { 
                        &:hover.submenu {
                            p {
                                background-image: url(assets/home-page-02/menu-arrow-green.png);
                            }
                            > [class*='submenu-'] {
                                display: flex;
                            }
                        }
                        .submenu > li:hover > a {
                            color: #00730C;
                        }
                    }
                    .submenu {
                        position: relative;
                        margin-right: 60px;
                        &:nth-child(1) {
                            &:hover p {
                                background-image: none;
                            }
                            p {
                                background-image: none;
                            }
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        p {
                            content: '';
                            position: absolute;
                            display: block;
                            cursor: pointer;
                            background-image: url(assets/home-page-02/menu-arrow.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 12px;
                            height: 7px;
                            right: -17px;
                            top: 7px;
                        }
                        .submenu-2 {
                            flex-direction: row;
                            left: -180px;
                        }
                    }
                    [class*='submenu-'] {
                        flex-direction: column;
                        position: absolute;
                        display: none;
                        z-index: 30;
                        li {
                            width: 115px;
                            margin-top: 15px;
                        }
                        [class*='sub-submenu'] {
                            position: relative;
                            &:hover {
                                [class*="sub-submenu-"] {
                                    display: block;
                                }
                            }
                            [class*="sub-submenu-"] {
                                cursor: pointer;
                                position: absolute;
                                top: -15px;
                                left: 70px;
                                display: none;
                                & > li:hover > a {
                                    color: #00730C;
                                }
                                a {
                                    @include fontForFunctionsMenu();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body.lock {
    overflow: hidden;
}
.btn-call-us {
    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 35px;
        width: 170px;
        height: 50px;
        background: #00730C;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        i {
            position: relative;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-transform: capitalize;
            color: #FFFFFF;
            left: 18px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url(assets/home-page-02/phone.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 31px;
            height: 31px;
            left: 31px;
        }
    }
}
.activeBlock {
    display: block!important;
}
.hb-menu {
    display: none;
    position: relative;
    width: 30px;
    cursor: pointer;
    height: 20px;
    margin-right: 60px;
    span {
        position: absolute;
        top: 9px;
        width: 30px;
        height: 2.5px;
        background: #00730C;
        border-radius: 2px;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 2.5px;
        border-radius: 2px;
        background: #00730C;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &::after {
        top: 0;
    }
    &::before {
        width: 18px;
        bottom: 0;
    }
}
.hb-menu.activeMenu {
    &::after {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 13.5px;
        top: 3.5px;
        left: 2px;
        transform: rotate(45deg);
    }
    &::before {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 13px;
        bottom: 2.5px;
        left: 14px;
        transform: rotate(45deg);
    }
    span {
        transform: rotate(135deg);
    }
}
.menu.activeMenu {
    left: 0!important;
}
.activeMenu {
    display: block!important;
}
@media(max-width: 1700px) {
    header {
        .container-logo-menu {  
            .container-menu-btn {
                .container-scroll-mobile-menu {
                    .menu {
                        margin-right: 50px;
                    }
                }
            }
        }
        .container-big-inform {
            .aside-img {
                display: none;
            }
        }
        .inform {
            .container-inform {
                div {
                    span {
                        display: none;
                    }
                    &::after {
                        top: -10px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1600px) {
    header {
        .container-logo-menu {  
            .container-menu-btn {
                .container-scroll-mobile-menu {
                    .menu {
                        ul {
                            &:last-child {
                                margin-right: 40px;
                            }
                            .submenu {
                                margin-right: 40px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
@media(max-width: 1400px) {
    .hb-menu {
        display: block;
    }
    header {
        .container-logo-menu {
            justify-content: space-between;
            padding: 0 60px;
            .container-menu-btn {
                .menu {
                    display: none;
                }
            }
        }
    } 
}
@media(max-width: 1280px) {
    .hb-menu {
        margin-right: 40px;
    }
}
@media(max-width: 1100px) {
    header {
        .container-logo-menu {
            .container-menu-btn {
                .btn-call-us {
                    button {
                        padding: 10px 30px;
                        border-radius: 10px;
                        &::after {
                            left: unset;
                        }
                        width: fit-content;
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
        .inform {
            padding: 0 120px;
        }
    }
}
@media(max-width: 960px) {
    header {
        .container-logo-menu {
            .container-menu-btn {
                .menu {
                    ul {
                        .menu-contacts-func {
                            display: none;
                        }
                        .submenu {
                            &:nth-child(5) {
                                display: none;
                            }
                            &:nth-child(6) {
                                display: none;
                            }
                            &:nth-child(3) {
                                display: block;
                            }
                            .submenu-2 {
                                left: 0;
                                max-height: 150px;
                                width: fit-content;
                                flex-direction: column;
                                flex-wrap: wrap;
                                > li {
                                    width: 115px;
                                    margin-top: 0;
                                    padding: 10px 10px 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 840px) {
    header {
        .inform {
            padding: 0 80px;
        }
    }
}

// mobile 
@media(max-width: 375px) {
    header {
        margin-top: 123px!important;
        .inform {
            position: fixed;
            top: 0;
            padding: 0 20px;
            .container-inform {
                > div {
                    margin-right: 20px;
                    width: 20px;
                    height: 20px;
                    .img-header-contacts-email,
                    .img-header-contacts-number,
                    .img-header-contacts-location {
                        background-size: contain;
                        margin-right: 0;
                    }
                }
            }
            .change-lang {
                margin-right: 20px;
                .change-lang-btn {
                    font-size: 12px;
                    line-height: 16px;
                    &::after {
                        background-size: contain;
                        right: -5px;
                        top: 7px;
                        width: 7px;
                        height: 4px;
                    }
                }
                .change-lang-list {
                    height: 50px;
                    background-color: #0C4B35;
                    left: -280px;
                    .change-lang-item {
                        padding: 0 20px;
                        font-size: 12px;
                    }
                }
            }
        }
        .container-logo-menu {
            position: fixed;
            top: 53px;
            padding: 0 15px;
            height: 70px;
            .logo {
                height: 40px;
                width: 90px;
                img {
                    object-fit: cover;
                }
            }
            .container-menu-btn {
                .container-scroll-mobile-menu.activeMenu {
                    // display: block;
                }
                .container-scroll-mobile-menu {
                    // display: none;
                    // height: 100%;
                    // overflow-x: hidden;
                    // position: fixed;
                    // left: 0;
                    // top: 0;
                    .menu {
                        display: block;
                        position: fixed;
                        // position: relative;
                        padding: 25px 15px;
                        top: 123px;
                        left: -100%;
                        width: 100%;
                        
                        background: #0C4B35;
                        z-index: 40;
                        opacity: .99;
                        .contacts-links-mobile-menu {
                            display: block;
                            margin: 85px 0 20px 0;
                            text-align: center;
                        }
                        ul {
                            flex-direction: column;
                            gap: 15px;
                            > li:hover > a {
                                color: rgb(255, 255, 255, 0.7);
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            .menu-contacts-func {
                                display: block;
                            }
                            .submenu {
                                margin-right: 0;
                                .submenu-2 {
                                    max-height: unset;
                                }
                                &:nth-child(1) {
                                    p {
                                        display: none;
                                    }
                                }
                                &:nth-child(2) {
                                    p {
                                        right: 256px;
                                    }
                                }
                                &:nth-child(4) {
                                    p {
                                        right: 264px;
    
                                    }
                                }
                                &:nth-child(5) {
                                    p {
                                        right: 274px;
    
                                    }
                                    display: block;
                                }
                                &:nth-child(6) {
                                    p {
                                        right: 292px;
    
                                    }
                                    display: block;
                                }
                                &:nth-child(3) {
                                    display: none;
                                }
                                p {
                                    top: 13px;
                                    opacity: 0.7;
                                    background-image: url(assets/home-page-02/menu-mobile-arrow-down.png);
                                    transition: all .2s ease-out;
                                }
                            }
                            li {
                                border-bottom: 0.5px solid rgb(255, 255, 255, 0.2);
                            }
                            a {
                                position: relative;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 35px;
                                color: rgb(255, 255, 255, 0.7);
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
                .hb-menu {
                    margin: 0 0 0 40px;
                    order: 1;
                }
                .btn-call-us {
                    order: 0;
                    button {
                        padding: 0;
                        width: 40px;
                        height: 34px;
                        &::after {
                            width: 20px;
                            height: 20px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}