body {
    height: 100%;
}
* {
    box-sizing: border-box;
}
:root {
    --swiper-theme-color: #00730C;
    --swiper-pagination-bullet-inactive-color: #FBEEE7;
    --swiper-pagination-bullet-inactive-opacity: #00730C;
}
main {
    height: fit-content;
    padding: 100px 0;
}
@media(max-width: 500px) {
    main {
        padding: 50px 0;
    }
}